:root{
    --primary-color: #f8fafc;
    --card-color:#ffffff;
    --accent-color: #4f46e5;
    --text-color: #1e293b;
}

body{
    background-color: var(--primary-color);
    color:var(--text-color);
    font-family: Georgia, Times, 'Times New Roman', serif;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.flashcard{
    width: 400px;
    height:300px;
}